

.android-front-page {
  background-image: url('../Asset/Android\ Development\ banner.png');
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: Arial, sans-serif;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white; /* Text color */
}

.android-front-page-center{
  width: 100%;
  max-width: 1200px; /* Control width for large screens */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.android-front-heading h1 {
  font-size: 34px !important;
  font-weight: bold !important;
  color: #8EC440 !important;
  text-align: left !important ;
}

.android-front-heading p {
  font-size: 1.1rem !important ;
  color: #ddd !important;
  text-align: left !important ;
  line-height: 1.6 !important;
  margin-bottom: 16px !important;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .android-front-page {
    height: 400px; /* Smaller height on mobile */
  }

  .android-front-heading h1 {
    font-size: 2rem;
  }

  .android-front-heading p {
    font-size: 1rem;
    width: 90%; /* Adjust text width for smaller screens */
  }
}

@media (max-width: 576px) {
  .android-front-page {
    height: 350px; /* Even smaller height for small screens */
  }

  .android-front-heading h1 {
    font-size: 1.8rem;
  }

  .android-front-heading p {
    font-size: 0.9rem;
    width: 90%;
  }
}
